services:
  flask-app:
    build: .
    container_name: flask-app
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=production
    env_file:
      - .env
    networks:
      - capstone_net

  bot1:
    build: ./Bot
    container_name: bot1
    environment:
      - SCRIPT=openAIBot.py
      - BOT_NAME=bot1
    env_file:
      - .env
    networks:
      - capstone_net
    depends_on:
      - flask-app
    restart: unless-stopped

  bot2:
    build: ./Bot
    container_name: bot2
    environment:
      - SCRIPT=openAIBot.py
      - BOT_NAME=bot2
    env_file:
      - .env
    networks:
      - capstone_net
    depends_on:
      - flask-app
    restart: unless-stopped

networks:
  capstone_net:
    driver: bridge


