body, html {
	height: 100%;
	margin: 0;
}

#screen {
	height: 100%;
	width: 100%;
}

#game {
	margin: 0 auto;
	height: 100%;
	max-width: 50vh;
	width: 100%;
}

#chat{
	height: 90%;
	border: red 2px solid;
}

#textbox{
	height: 10%;
	border: blue 2px solid;
}

