<!DOCTYPE html>
<html lang=en>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ChatBot Game</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div id="screen">
	<div id="game">
		<div id="chat">
			<ul>
				{% for message in chatlog %}
				<li>{{message}}</li>
				{% endfor %}
			</ul>
		</div>
		<div id="textbox">
			<form method="post">
				<input id="chatbox" type=text name=message>
				<input id="send" type=submit value=➤>
			</form>
		</div>
	</div>
</div>
</body>
<script>
  document.getElementById("chatbox").focus();
</script>
</html>
